<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>This Day in History</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

 <p><%= message %></p>

<div class='search'>
<p>Enter the date you would like to see news articles for.</p>
 <form action='/search' method='POST'>
  <input type='text' name='begin_date' placeholder="enter beginning date in YYYYMMDD format">
  <input type='submit' value='search'>
 </form>
</div>

</body>
</html>
<!-- set end_date to begin_date -->
