<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>This Day in History</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
      <nav>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </nav>
    </header>

<div class='search'>
<p>Enter a date between 01/01/2016 and today. You cannot search for dates in the future <br> We hope to include that functionality on a future release.</p>
 <form action='/firstSearch' method='POST'>
  <input type='date' name='begin_date'>
  <input type='submit' value='search'>
 </form>
</div>

</body>
</html>


