<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>This Day in History</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
      <nav>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </nav>
    </header>

<div class='search'>
<p>Enter the date you would like to see news articles for.</p>
 <form action='/firstSearch' method='POST'>
  <input type='date' name='begin_date'>
  <input type='submit' value='search'>
 </form>
</div>

</body>
</html>


