<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>This Day in History</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<p><%= message %></p>

<div id='user-container'>
  <h2>Narrow Your Search</h2>
</div>

<div id='search-results-container'>
 <p> here be your search results, yo</p>
</div>

</body>
</html>
