<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>

<p><%= message %></p>
<p><%= res.search %> </p>

<div id='second-search-results-container'>
  <h2>Second Search Results</h2>
    <p> Your results have been refined m'Lord</p>
    <p> enter stuff to render search results to html </p>
    <p> Click or something to save these to your favorites</p>
</div>

</body>
</html>
